@import './vscode-defaults.scss';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
  
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  margin: 0;
  padding: 0 20px;
}

html, .root, .gui {
  height: 100vh;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.gui {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover {
  color: var(--vscode-textLink-activeForeground);
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 1px solid -webkit-focus-ring-color;
  outline-offset: -1px;
}

code {
  color: var(--vscode-textPreformat-foreground);
}

blockquote {
  background: var(--vscode-textBlockQuote-background);
  border-color: var(--vscode-textBlockQuote-border);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--vscode-scrollbarSlider-background);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--vscode-scrollbarSlider-hoverBackground);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--vscode-scrollbarSlider-activeBackground);
}

.svgViewer {
  height: 100%;
}

.expression {
  color: #c586c0;
  white-space: pre;
  font-size: 13px;
  font-family: Monaco,Menlo,Consolas,Droid Sans Mono,Inconsolata,Courier New,monospace,Droid Sans Fallback;
  margin-top: 3px;
  margin-bottom: 6px;
}

.expression-input {
  width: 100%;
  box-sizing : border-box;
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 13px;
  font-family: Monaco,Menlo,Consolas,Droid Sans Mono,Inconsolata,Courier New,monospace,Droid Sans Fallback;
  background-color: rgb(48, 60, 65);
  color: rgb(238, 255, 255);
  border: 1px black;
}

hr {
  border: 0.5px solid white;
}