:root {
    --background-color: #263238;
    --color: #eeffff;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", HelveticaNeue-Light, Ubuntu, "Droid Sans", sans-serif;
    --font-size: 13px;
    --font-weight: normal;
    --link-active-color: #eeffff;
    --link-color: #80cbc4;
    --vscode-activityBar-background: #192227;
    --vscode-activityBar-border: rgba(0, 0, 0, 0.38);
    --vscode-activityBar-dropBackground: rgba(255, 255, 255, 0.12);
    --vscode-activityBar-foreground: #eeffff;
    --vscode-activityBar-inactiveForeground: rgba(238, 255, 255, 0.6);
    --vscode-activityBarBadge-background: #80cbc4;
    --vscode-activityBarBadge-foreground: #000000;
    --vscode-badge-background: rgba(0, 0, 0, 0.19);
    --vscode-badge-foreground: #546e7a;
    --vscode-breadcrumb-activeSelectionForeground: #80cbc4;
    --vscode-breadcrumb-background: #263238;
    --vscode-breadcrumb-focusForeground: #eeffff;
    --vscode-breadcrumb-foreground: #5f7a87;
    --vscode-breadcrumbPicker-background: #192227;
    --vscode-button-background: rgba(128, 203, 196, 0.13);
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: rgba(175, 222, 218, 0.13);
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugToolBar-background: #263238;
    --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
    --vscode-diffEditor-insertedTextBackground: rgba(195, 232, 141, 0.08);
    --vscode-diffEditor-removedTextBackground: rgba(255, 83, 112, 0.13);
    --vscode-dropdown-background: #263238;
    --vscode-dropdown-border: rgba(255, 255, 255, 0.06);
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-editor-background: #263238;
    --vscode-editor-findMatchBackground: #515c6a;
    --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-editor-font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", HelveticaNeue-Light, Ubuntu, "Droid Sans", sans-serif;
    --vscode-editor-font-size: 13px;
    --vscode-editor-font-weight: normal;
    --vscode-editor-foreground: #eeffff;
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editor-inactiveSelectionBackground: rgba(128, 203, 196, 0.06);
    --vscode-editor-lineHighlightBackground: rgba(0, 0, 0, 0.31);
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-selectionBackground: rgba(128, 203, 196, 0.13);
    --vscode-editor-selectionHighlightBackground: rgba(255, 204, 0, 0.13);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorBracketMatch-background: #263238;
    --vscode-editorBracketMatch-border: rgba(255, 204, 0, 0.31);
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorCursor-foreground: #ffcc00;
    --vscode-editorError-foreground: rgba(255, 83, 112, 0.44);
    --vscode-editorGroup-border: rgba(0, 0, 0, 0.19);
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroupHeader-noTabsBackground: #263238;
    --vscode-editorGroupHeader-tabsBackground: #263238;
    --vscode-editorGutter-addedBackground: rgba(195, 232, 141, 0.38);
    --vscode-editorGutter-background: #263238;
    --vscode-editorGutter-commentRangeForeground: #c5c5c5;
    --vscode-editorGutter-deletedBackground: rgba(255, 83, 112, 0.38);
    --vscode-editorGutter-modifiedBackground: rgba(130, 170, 255, 0.38);
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorHoverWidget-background: #263238;
    --vscode-editorHoverWidget-border: rgba(255, 255, 255, 0.06);
    --vscode-editorIndentGuide-activeBackground: #37474f;
    --vscode-editorIndentGuide-background: rgba(55, 71, 79, 0.44);
    --vscode-editorInfo-foreground: #008000;
    --vscode-editorLineNumber-activeForeground: #5f7a87;
    --vscode-editorLineNumber-foreground: #37474f;
    --vscode-editorLink-activeForeground: #eeffff;
    --vscode-editorMarkerNavigation-background: rgba(238, 255, 255, 0.02);
    --vscode-editorMarkerNavigationError-background: rgba(255, 83, 112, 0.44);
    --vscode-editorMarkerNavigationInfo-background: #008000;
    --vscode-editorMarkerNavigationWarning-background: rgba(195, 232, 141, 0.44);
    --vscode-editorOverviewRuler-addedForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-border: #263238;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-deletedForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(246, 185, 77, 0.7);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-infoForeground: rgba(18, 18, 136, 0.7);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: rgba(18, 136, 18, 0.7);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorPane-background: #263238;
    --vscode-editorRuler-foreground: #37474f;
    --vscode-editorSuggestWidget-background: #263238;
    --vscode-editorSuggestWidget-border: rgba(255, 255, 255, 0.06);
    --vscode-editorSuggestWidget-foreground: #eeffff;
    --vscode-editorSuggestWidget-highlightForeground: #80cbc4;
    --vscode-editorSuggestWidget-selectedBackground: rgba(0, 0, 0, 0.31);
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorWarning-foreground: rgba(195, 232, 141, 0.44);
    --vscode-editorWhitespace-foreground: rgba(238, 255, 255, 0.25);
    --vscode-editorWidget-background: #192227;
    --vscode-editorWidget-border: #ff0000;
    --vscode-editorWidget-resizeBorder: #80cbc4;
    --vscode-errorForeground: #f48771;
    --vscode-extensionButton-prominentBackground: rgba(195, 232, 141, 0.56);
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #c3e88d;
    --vscode-focusBorder: rgba(255, 255, 255, 0);
    --vscode-foreground: #cccccc;
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-conflictingResourceForeground: rgba(255, 203, 107, 0.56);
    --vscode-gitDecoration-deletedResourceForeground: rgba(255, 83, 112, 0.56);
    --vscode-gitDecoration-ignoredResourceForeground: rgba(95, 122, 135, 0.56);
    --vscode-gitDecoration-modifiedResourceForeground: rgba(130, 170, 255, 0.56);
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
    --vscode-gitDecoration-untrackedResourceForeground: rgba(195, 232, 141, 0.56);
    --vscode-gitlens-gutterBackgroundColor: rgba(255, 255, 255, 0.07);
    --vscode-gitlens-gutterForegroundColor: #bebebe;
    --vscode-gitlens-gutterUncommittedForegroundColor: rgba(0, 188, 242, 0.6);
    --vscode-gitlens-lineHighlightBackgroundColor: rgba(0, 188, 242, 0.2);
    --vscode-gitlens-lineHighlightOverviewRulerColor: rgba(0, 188, 242, 0.6);
    --vscode-gitlens-trailingLineBackgroundColor: rgba(0, 0, 0, 0);
    --vscode-gitlens-trailingLineForegroundColor: rgba(153, 153, 153, 0.35);
    --vscode-input-background: #303c41;
    --vscode-input-border: rgba(255, 255, 255, 0.06);
    --vscode-input-foreground: #eeffff;
    --vscode-input-placeholderForeground: rgba(238, 255, 255, 0.38);
    --vscode-inputOption-activeBorder: #007acc;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: rgba(255, 83, 112, 0.31);
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: rgba(130, 170, 255, 0.31);
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: rgba(255, 203, 107, 0.31);
    --vscode-list-activeSelectionBackground: #192227;
    --vscode-list-activeSelectionForeground: #80cbc4;
    --vscode-list-dropBackground: rgba(238, 255, 255, 0.13);
    --vscode-list-errorForeground: #f88070;
    --vscode-list-focusBackground: rgba(238, 255, 255, 0.13);
    --vscode-list-focusForeground: #eeffff;
    --vscode-list-highlightForeground: #80cbc4;
    --vscode-list-hoverBackground: #192227;
    --vscode-list-hoverForeground: #ffffff;
    --vscode-list-inactiveFocusBackground: #313135;
    --vscode-list-inactiveSelectionBackground: rgba(0, 0, 0, 0.19);
    --vscode-list-inactiveSelectionForeground: #80cbc4;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-warningForeground: #4d9e4d;
    --vscode-menu-background: #263238;
    --vscode-menu-foreground: #eeffff;
    --vscode-menu-selectionBackground: rgba(0, 0, 0, 0.31);
    --vscode-menu-selectionBorder: rgba(0, 0, 0, 0.19);
    --vscode-menu-selectionForeground: #80cbc4;
    --vscode-menu-separatorBackground: #eeffff;
    --vscode-menubar-selectionBackground: rgba(0, 0, 0, 0.19);
    --vscode-menubar-selectionBorder: rgba(0, 0, 0, 0.19);
    --vscode-menubar-selectionForeground: #80cbc4;
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-notificationCenterHeader-background: #314149;
    --vscode-notificationLink-foreground: #80cbc4;
    --vscode-notifications-background: #263238;
    --vscode-notifications-border: #314149;
    --vscode-notifications-foreground: #eeffff;
    --vscode-panel-background: #192227;
    --vscode-panel-border: rgba(0, 0, 0, 0.38);
    --vscode-panel-dropBackground: #eeffff;
    --vscode-panelTitle-activeBorder: #80cbc4;
    --vscode-panelTitle-activeForeground: #ffffff;
    --vscode-panelTitle-inactiveForeground: #eeffff;
    --vscode-peekView-border: rgba(0, 0, 0, 0.19);
    --vscode-peekViewEditor-background: rgba(238, 255, 255, 0.02);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(128, 203, 196, 0.13);
    --vscode-peekViewEditorGutter-background: rgba(238, 255, 255, 0.02);
    --vscode-peekViewResult-background: rgba(238, 255, 255, 0.02);
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-matchHighlightBackground: rgba(128, 203, 196, 0.13);
    --vscode-peekViewResult-selectionBackground: rgba(95, 122, 135, 0.44);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewTitle-background: rgba(238, 255, 255, 0.02);
    --vscode-peekViewTitleDescription-foreground: rgba(238, 255, 255, 0.38);
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-pickerGroup-border: #3f3f46;
    --vscode-pickerGroup-foreground: #80cbc4;
    --vscode-progressBar-background: #80cbc4;
    --vscode-scrollbar-shadow: rgba(38, 50, 56, 0);
    --vscode-scrollbarSlider-activeBackground: #80cbc4;
    --vscode-scrollbarSlider-background: rgba(238, 255, 255, 0.13);
    --vscode-scrollbarSlider-hoverBackground: rgba(238, 255, 255, 0.06);
    --vscode-selection-background: #eeffff;
    --vscode-settings-checkboxBackground: #192227;
    --vscode-settings-checkboxBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-checkboxForeground: #eeffff;
    --vscode-settings-dropdownBackground: #192227;
    --vscode-settings-dropdownBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-dropdownForeground: #eeffff;
    --vscode-settings-dropdownListBorder: #ff0000;
    --vscode-settings-headerForeground: #80cbc4;
    --vscode-settings-modifiedItemIndicator: #80cbc4;
    --vscode-settings-numberInputBackground: #192227;
    --vscode-settings-numberInputBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-numberInputForeground: #eeffff;
    --vscode-settings-textInputBackground: #192227;
    --vscode-settings-textInputBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-textInputForeground: #eeffff;
    --vscode-sideBar-background: #192227;
    --vscode-sideBar-border: rgba(0, 0, 0, 0.38);
    --vscode-sideBar-dropBackground: rgba(255, 255, 255, 0.12);
    --vscode-sideBar-foreground: #5f7a87;
    --vscode-sideBarSectionHeader-background: #192227;
    --vscode-sideBarSectionHeader-border: rgba(0, 0, 0, 0.38);
    --vscode-sideBarSectionHeader-foreground: #5f7a87;
    --vscode-sideBarTitle-foreground: #eeffff;
    --vscode-statusBar-background: #192227;
    --vscode-statusBar-border: rgba(0, 0, 0, 0.38);
    --vscode-statusBar-debuggingBackground: #c792ea;
    --vscode-statusBar-debuggingBorder: rgba(0, 0, 0, 0.38);
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-foreground: #546e7a;
    --vscode-statusBar-noFolderBackground: #263238;
    --vscode-statusBar-noFolderBorder: rgba(0, 0, 0, 0.38);
    --vscode-statusBar-noFolderForeground: #546e7a;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-hoverBackground: rgba(84, 110, 122, 0.13);
    --vscode-statusBarItem-prominentBackground: #388a34;
    --vscode-statusBarItem-prominentHoverBackground: #369432;
    --vscode-tab-activeBackground: #263238;
    --vscode-tab-activeBorder: #80cbc4;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-activeModifiedBorder: #5f7a87;
    --vscode-tab-border: #263238;
    --vscode-tab-inactiveBackground: #263238;
    --vscode-tab-inactiveForeground: #5f7a87;
    --vscode-tab-inactiveModifiedBorder: rgba(95, 122, 135, 0.5);
    --vscode-tab-unfocusedActiveBorder: #546e7a;
    --vscode-tab-unfocusedActiveForeground: #eeffff;
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(95, 122, 135, 0.5);
    --vscode-tab-unfocusedInactiveForeground: rgba(95, 122, 135, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(95, 122, 135, 0.25);
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiBlue: #82aaff;
    --vscode-terminal-ansiBrightBlack: #546e7a;
    --vscode-terminal-ansiBrightBlue: #82aaff;
    --vscode-terminal-ansiBrightCyan: #89ddff;
    --vscode-terminal-ansiBrightGreen: #c3e88d;
    --vscode-terminal-ansiBrightMagenta: #c792ea;
    --vscode-terminal-ansiBrightRed: #ff5370;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-terminal-ansiBrightYellow: #ffcb6b;
    --vscode-terminal-ansiCyan: #89ddff;
    --vscode-terminal-ansiGreen: #c3e88d;
    --vscode-terminal-ansiMagenta: #c792ea;
    --vscode-terminal-ansiRed: #ff5370;
    --vscode-terminal-ansiWhite: #ffffff;
    --vscode-terminal-ansiYellow: #ffcb6b;
    --vscode-terminal-background: #192227;
    --vscode-terminal-border: rgba(0, 0, 0, 0.38);
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
    --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-textLink-activeForeground: #eeffff;
    --vscode-textLink-foreground: #80cbc4;
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-titleBar-activeBackground: #192227;
    --vscode-titleBar-activeForeground: #eeffff;
    --vscode-titleBar-border: rgba(0, 0, 0, 0.38);
    --vscode-titleBar-inactiveBackground: #192227;
    --vscode-titleBar-inactiveForeground: #5f7a87;
    --vscode-widget-shadow: rgba(0, 0, 0, 0.19);
  }
    