@import "./vscode-light.scss";

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;

	margin: 0;
	padding: 0;
}

.bp3-input,
.bp3-button {
	border-radius: 0;
}

.bp3-icon {
	svg {
		color: lighten(black, 20);
		width: 14px;
	}
}

html,
body,
.target {
	height: 100%;
}

.component-Visualizer {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.component-NoData {
	width: 100%;
	height: 100%;

	svg {
		float: left; // to prevent scrollbar.
		// I don't know why it works.
		width: 100%;
		height: 100%;

		rect {
			fill: white;
		}

		line {
			stroke: gray;
		}

		text {
			stroke: black;
			stroke-width: 0px;
		}
	}
}

.component-GUI {
	display: flex;
	flex-direction: column;
	height: 100%;

	& > .part-header {
		padding: 6px 20px 6px 0;
		background-color: var(--vscode-sideBar-background);

		//border: solid 8px white;
		//border-top: solid 1px var(--vscode-button-background);
		//  rgba(128, 128, 128, 0.15)
		display: flex;
		flex-direction: row;

		.part-header-content {
			flex: 1;

			transition: flex 0.3s ease-out;

			.part-header-main,
			.part-header-options {
				display: flex;
				align-items: center;

				.part-expression-input {
					//color: rgb(155, 70, 176);
					font-family: var(--vscode-editor-font-family);
					flex: 1;
				}
			}

			.part-header-main {
				.part-icon {
					margin-left: 4px;
				}
			}

			.part-header-options {
				.part-select {
					min-width: 90px;
				}
			}
		}
	}

	.part-visualizer {
		//padding: 10px 20px;
		flex: 1;
		min-height: 0px;

		height: 100%;
	}
}

.decorator-collapse-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E");

	background-position: 50%;
	background-position-x: 50%;
	background-position-y: center;
	background-repeat: no-repeat;

	&.expanded {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M11 10.07H5.344L11 4.414v5.656z'/%3E%3C/svg%3E");
	}
}

.component-ExpandButton {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E");

	background-position: 50%;
	background-position-x: 50%;
	background-position-y: center;
	background-repeat: no-repeat;

	width: 15px;
	margin: -6px 6px -6px 0px;

	&.expanded {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M11 10.07H5.344L11 4.414v5.656z'/%3E%3C/svg%3E");
	}

	&:hover {
		background-color: var(--vscode-titleBar-activeBackground);
	}
}

.component-NamedSelect {
	display: flex;
	flex-direction: column;
	align-items: center;

	.part-Select {
		min-width: 100px;
	}
}

.component-Select {
	.part-button {
		background-color: var(--vscode-button-background);
		color: white;
		padding: 4px 10px;

		width: 100%;

		border: none;
		cursor: pointer;
		&:hover,
		&:focus {
			background-color: var(--vscode-button-hoverBackground);
		}
	}

	.part-content {
		background-color: var(--vscode-sideBar-background);

		.part-option {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			cursor: pointer;

			&:hover {
				background-color: #ddd;
			}
		}
	}

	.bp3-popover-wrapper {
		width: 100%;
	}

	.bp3-popover-target {
		width: 100%;
	}
}

.svgViewer {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
