.component-monaco-editor {
	min-height: 0;
	min-width: 0;

	height: 100%;
	box-sizing: border-box;
	display: flex;

	// overflow: hidden;

	.part-editor {
		min-width: 0;
		min-height: 0;
		flex: 1;
	}
}

.component-AstTree {
	height: 100%;
	display: flex;
	flex-direction: column;

	.part-tree2 {
		flex: 2;
		min-height: 0;
		min-width: 0;
	}
	.part-editor {
		flex: 1;
		min-height: 0;
		min-width: 0;
		border-top: solid gray 1px;

		.marked {
			background: orange;
		}

		.selected {
			background: yellow;
			opacity: 0.7;
		}
	}

	/*display: flex;
	flex-direction: column;
	min-height: 0;
	min-width: 0;

	.part-tree2 {
		flex: 1 0;
	}

	.part-editor {
		min-height: 0;
		min-width: 0;
		flex: 1;
		background: red;
	}*/
}

.component-Grid {
	.part-data {
		border: 1px solid lightgray;
		background: #eeeeee;
	}

	.part-header {
		background: transparentize(white, 0.5);
	}

	.part-empty {
		color: var(--vscode-editor-foreground);
	}
}
